# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Generated reports
*.pdf

# OS files
.DS_Store
Thumbs.db